html  {
    height: 100%;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.sidebar {
    width: 300px;
    background-color: #4B3850;
    color: white;
    flex-shrink: 0;
}

.sidebar-subheader{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.sidebar-subheader h1 {
    margin: 0;
}

.sidebar-subheader i {
    align-self: center;
}

.sidebar-header p {
    margin: 0 0 0 10px;
}

.fa-circle {
    color: green;
}

.channel-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

.nav-bar h3 {
    margin: 50px 0 0 10px;
     font-size: 20px; 
    font-weight: 100;
}

.nav-bar ul {
    padding: 0;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
    font-size: 20px; 
    font-weight: 100;
}

.nav-bar a:hover {
    background-color: gray;
}

.avatar-img {
    height: 50px;
    widows: 50px;
}

.channel-memebers-group{
    display: flex;   
    justify-content: flex-end;
    flex-direction: column;
    color: lightgray;
    font-size: 15px;
}

.channel-description
{
    border-left: soid 1px gray;
}

.main-message {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-header {
    border-bottom: gray solid 1px;
    padding: 10px;
}

.section-header h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.message-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    overflow-y: auto;
    height: 100%;
    padding-top: 10px;
}

.pub-date{
    font-size: 15px;
    color: lightgray;
    font-weight: 100;
}

.message-body{
    display: flex;
    margin: 10px;
}
.messages{
    flex: 1 1 auto;
    overflow-y: scroll;
    min-height: 0px;
    display: flex;
    flex-direction: column-reverse;
}

.message-user-info{
    margin: 0;
    padding-left: 10px;
}

.message-text{
    margin: 5px;
    padding-left: 5px;
}

.slack-footer {
    height: 80px;
    display: flex;
    border: solid lightgray 1px;
    margin: 5px;
    flex-shrink: 0;

}

.slack-footer input {
    width: 100%;
    border: 0;
    border-left:solid lightgray 1px;
    font-size: 17px;
}

.slack-footer input::-webkit-input-placeholder {
    padding-left: 10px;
    color: lightgray;
  
}

.slack-footer i {
    align-self: center;
    padding: 10px;
    color: lightgray;
}

